flask
gunicorn
flask-cors
flask-login
Flask-Babel
celery
pymongo
pika
tenacity
google-generativeai
openai
python-dotenv
pydantic
pydantic-settings
requests
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
beautifulsoup4
markdown
weasyprint
werkzeug
rich
python-json-logger
pypdf2
python-docx
python-pptx
pytesseract
Pillow
bcrypt
email-validator
authlib
httpx
psutil
