version: '3.8'

services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ../src:/app/src
    env_file:
      - .env
    depends_on:
      - redis
      - mongo

  worker:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: celery -A src.utils.queue_utils.celery_app worker --loglevel=info
    volumes:
      - ../src:/app/src
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  mongo:
    image: "mongo:latest"
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
