@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom base styles or components here */
.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline-block;
}
